twitter-scraping/node_modules
.ipynb_checkpoints
.DS_Store
frontend/node_modules
twitter-scraping/bin
twitter-scraping/include
twitter-scraping/lib
twitter-scraping/accounts.db
twitter-scraping/scrape.py
twitter-scraping/pyvenv.cfg
twitter-scraping/data_joash/
